<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>tarefaa</title>
    </head>
    <body class="">
        
        <form action="{{ url_for('tarefas.adicionartarefas') }}" method="POST">


            <label for="descricao" class="">Descrição da Tarefa:</label>
            <input type="text" name="descricaoForm" id="descricao" class=""><br>

            <input type="submit" value="Adicionar" class="">
        </form>

    </body>
</html>
