<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        {% if tarefas %}
            {% for tarefa in tarefas %}
                <li>{{ tarefa.descricao }}</li>
                <form action="{{ url_for('tarefas.excluir_tarefa', id_tarefa=tarefa.id) }}" method="POST" style="display:inline;">
                    <button type="submit">Excluir</button>
                </form>
            {% endfor %}
        {% else %}
            <p>Nenhuma tarefa cadastrada.</p>
        {% endif %}
    </ul>
    
</html>